/*

Theme Name: Salesrox
Theme URI: http://salesrox.com
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: salesrox
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: gblack;
    src: url('css/fontes/gblack.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: gbold;
    src: url('css/fontes/gbold.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: gmedium;
    src: url('css/fontes/gmedium.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: glight;
    src: url('css/fontes/glight.otf');
    font-style: normal;
    font-weight: normal;
  }

/* BODY */
  body{
    overflow-x: hidden;
  }

/* TOPO */
  header{
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
  }
  .topo{
    width: 100%;
    padding: 0 45px;
    position: fixed;
    padding-top: 54px;
    z-index: 3;
    color: #000;
  }
  .topo.thin{
    padding: 10px 45px 1px;
    background: #fff;
  }
    .topo a{
      width: 100%;
      max-width: 188px;
      display: block;
    }
      .topo a img{
        width: 100%;
        height: auto;
      }
    .topo .language{
      position: relative;
      text-align: right;
    }
      .topo .language ul{
        width: 100%;
        max-width: 62px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: initial;
        left: initial;
        right: initial;
        top: initial;
        position: relative;
        display: inline-block;
      }
        .topo .language ul li{
          display: none;
          text-align: left;
          font-size: 17px;
          font-family: glight;
          transition: cubic-bezier(0.06, 0.75, 1, 1) .4s;
          -webkit-transition: cubic-bezier(0.06, 0.75, 1, 1) .4s;
          -moz-transition: cubic-bezier(0.06, 0.75, 1, 1) .4s;
          -o-transition: cubic-bezier(0.06, 0.75, 1, 1) .4s;
          cursor: pointer;
          padding: 1px 6px;
        }
          .topo .language ul li ul{
            list-style: none;
            margin:0;
          }
            .topo .language ul li ul li{
              padding: 1px 0px;
              margin-top: 1px;
              background: transparent;
            }
          .topo .language ul li a{
            text-decoration: none;
            color: #000;
          }
            .topo .language ul li a span{

            }
              .topo .language ul li a span img{
                margin-top: -3px;
                width: 100%;
                height: auto;
                max-width: 25px;
              }
        .topo .language ul li.selected{
          display: block;
        }
        .topo .language ul li.selected:after{
          content: "\f0dd";
          font-family: FontAwesome;
          font-style: normal;
          position: absolute;
          top: -2px;
          right: 10px;
        }
        .topo .language ul li.selected:hover ul li{
          display: block;
          background: #fff;
        }
          .topo .language ul li.selected span{

          }
            .topo .language ul li.selected span img{
              margin-top: -3px;
              width: 100%;
              height: auto;
              max-width: 25px;
              display: none;
            }

/*RODAPÉ*/
  footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 70px 0;
    width: 100%;
  } 
    footer .tituloFormulario{

    }
      footer .tituloFormulario h1{
        font-family: gblack;
        font-size: 38px;
        margin: 20px 0 0;
      }
        footer .tituloFormulario h1 strong{

        }
        footer .tituloFormulario p{
          font-family: glight;
          font-size: 24px;
          margin: 5px 0 15px;
        }
    footer .copyright{

    }
       footer .copyright p{
        margin: 0;
        padding-top: 100px;
        font-family: glight;
        font-size: 21px;
       }
         footer .copyright p i{
          font-family: FontAwesome;
          font-style: normal;
          padding: 0 4px;
         }
    
/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .pg-inicial{
    background: #fff;
    z-index: 2;
    position: relative;
    padding-bottom: 70px;
    color: #000;
  }
    .pg-inicial .inicial{
      width: 100%;
      padding-top: 159px;
    }
      .pg-inicial .inicial .textoInicial{
       font-family: gmedium;
       text-align: center;
       padding-top: 80px;
      }  
        .pg-inicial .inicial .textoInicial h2 {
          font-size: 50px;
        }
        .pg-inicial .inicial .textoInicial h2 strong{
          font-family: gblack;
        }
        .pg-inicial .inicial .textoInicial p{
           width: 100%;
           max-width: 870px;
           margin: 20px auto 30px;
           font-family: glight;
           font-size: 23px;
           font-weight: 600;
        }
        
        .pg-inicial .inicial .textoInicial p strong{
          font-family: gmedium;
        }
    .pg-inicial .scrollDown{
      width: 100%;
      min-height: 50px;
      text-align: center;
      margin: 65px auto;
    }
      .pg-inicial .scrollDown a{
        background: url(img/scrollDown.png);
        display: block;
        width: 52px;
        height: 61px;
        background-size: cover!important;
        background-position: center!important;
        margin: 0 auto;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.2s;
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -o-transition: transform 0.2s;
      }
      .pg-inicial .scrollDown a:hover{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    .pg-inicial .comoFunciona{

    }
      .pg-inicial .comoFunciona .textoComoFunciona{
        padding: 0 20px 0 0px;
        
      }
        .pg-inicial .comoFunciona .textoComoFunciona h3{
          font-family: gblack;
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 40px;
        }
        .pg-inicial .comoFunciona .textoComoFunciona h3 strong{

        }
        .pg-inicial .comoFunciona .textoComoFunciona p.fora{
          -webkit-transform:  translate(-170%);
          -ms-transform:  translate(-170%);
          -o-transform:  translate(-170%);
          transform:  translate(-170%);
        }
        .pg-inicial .comoFunciona .textoComoFunciona p{
          font-family: glight;
          font-size: 21px;
          font-weight: bold;
          transition: ease-in-out 0.8s;
          -webkit-transition: ease-in-out 0.8s;
          -moz-transition: ease-in-out 0.8s;
          -o-transition: ease-in-out 0.8s;
          -webkit-transform: translate(0);
          -ms-transform: translate(0);
          -o-transform: translate(0);
          transform: translate(0);
        }
        .pg-inicial .comoFunciona .textoComoFunciona p strong{
          font-family: gmedium;
          font-weight: bold;
        }
        .pg-inicial .comoFunciona .bordaVantagens{
          transition: ease-in-out 2.5s;
          -webkit-transition: ease-in-out 2.5s;
          -moz-transition: ease-in-out 2.5s;
          -o-transition: ease-in-out 2.5s;
          width: 1px;
          background: #000;
          display: inline-block;
          min-height: 0;
          position: absolute;
        }
        .pg-inicial .comoFunciona .bordaVantagens.show{
          min-height: 730px;
        }
      .pg-inicial .comoFunciona .vantagesSalesrox{
        padding-left: 70px;
        
      }
        .pg-inicial .comoFunciona .vantagesSalesrox h2{
          font-family: gblack;
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 40px;
        }
        .pg-inicial .comoFunciona .vantagesSalesrox .vantagens{
          transition: ease-in-out 0.8s;
          -webkit-transition: ease-in-out 0.8s;
          -moz-transition: ease-in-out 0.8s;
          -o-transition: ease-in-out 0.8s;
          -webkit-transform: translate(0);
          -ms-transform: translate(0);
          -o-transform: translate(0);
          transform: translate(0);
        }
        .pg-inicial .comoFunciona .vantagesSalesrox .vantagens.fora{
          -webkit-transform:  translate(170%);
          -ms-transform:  translate(170%);
          -o-transform:  translate(170%);
          transform:  translate(170%);
        }
          .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul{
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0;
          }
            .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li{
              display: inline-block;
              width: 50%;
              margin: 30px 0;
              padding: 0 30px;
              vertical-align: top;
            }
              .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article{
              }
                .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque{
                  width: 100%;
                  text-align: center;
                  min-height: 163px;
                }
                  .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img{
                    width: 100%;
                    height: auto;
                    max-width: 150px;
                    transition: transform .2s;
                    -webkit-transition: transform .2s;
                    -moz-transition: transform .2s;
                    -o-transition: transform .2s;
                  }
                  .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img:hover{
                    -webkit-transform: scale(1.1);;
                    -ms-transform: scale(1.1);;
                    -o-transform: scale(1.1);;
                    transform: scale(1.1);;
                  }
              .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1{
                text-align: center;
                font-size: 27px;
                font-family: gmedium;
                font-weight: 100;
                width: 100%;
                max-width: 174px;
                line-height: 28px;
                margin: 20px auto 0;
              }
    .pg-inicial .comoFunciona .tecnologias{
      padding: 30px 0;
      transition: ease-in-out 0.8s;
      -webkit-transition: ease-in-out 0.8s;
      -moz-transition: ease-in-out 0.8s;
      -o-transition: ease-in-out 0.8s;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0);
    }
    .pg-inicial .comoFunciona .tecnologias.fora{
      -webkit-transform:  translate(-170%);
      -ms-transform:  translate(-170%);
      -o-transform:  translate(-170%);
      transform:  translate(-170%);
    }
      .pg-inicial .comoFunciona .tecnologias ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }    
        .pg-inicial .comoFunciona .tecnologias ul li{
          display: inline-block;
          width: 100%;
          max-width: 120px;
          text-align: center;
          margin: 0 25px;
          vertical-align: top;
          position: relative;
        }
        .pg-inicial .comoFunciona .tecnologias ul li:first-child:before{
          content: "+";
          color: #4a7ac5;
          font-size: 50px;
          position: absolute;
          right: -43px;
          top: 13px;
        }
        .pg-inicial .comoFunciona .tecnologias ul li:nth-child(2):before{
          content: "+";
          color: #4a7ac5;
          font-size: 50px;
          position: absolute;
          right: -43px;
          top: 11px;
        }
          .pg-inicial .comoFunciona .tecnologias ul li img{
            width: 100%;
            height: auto;
            max-width: 90px;
          }
          .pg-inicial .comoFunciona .tecnologias ul li p{
            font-family: gmedium;
            font-size: 19px;
            margin-top: 20px;
          }
  .pg-inicial .algumasLogos{
    
  }
    .pg-inicial .algumasLogos .listadeLogos{
      margin: 48px auto 0;
      text-align: center;
    }
      .pg-inicial .algumasLogos .listadeLogos li{
        list-style: none;
        display: inline-block;
        margin: 0 15px;
      }
        .pg-inicial .algumasLogos .listadeLogos li a{
          
        }
          .pg-inicial .algumasLogos .listadeLogos li a img{
            width: 100%;
            max-width: 190px;
          }

/*EXTRAS*/
  ::-webkit-input-placeholder {
    color: #000;
  }
  :-moz-placeholder {
    color: #000;
  }
  ::-moz-placeholder {
    color: #000;
  }
  :-ms-input-placeholder {
    color: #000;
  }
  body::-webkit-scrollbar{ background: #fff;width: 10px;}
  body::-webkit-scrollbar-button{ background: #000;}
  body::-webkit-scrollbar-track{}
  body::-webkit-scrollbar-track-piece {}
  body::-webkit-scrollbar-thumb{ background: #000;}
  body::-webkit-scrollbar-corner {}
  body::-webkit-resizer{}
      .formularioContato{
      margin-top: 40px;
      text-align: center;
    }
      .formularioContato input{
        border: 1px solid #848484;
        background: #f1f1f1;
        padding: 15px 3px;
        outline: none;
        font-family: glight;
        font-size: 19px;
        font-weight: 600;
        color: #000;
        margin-right: 5px;
      }
      .formularioContato input[type="submit"]{
        border: none;
        outline: none;
        padding: 10px 10px;
        background: #4b7bc6;
        color: #fff;
        font-family: gmedium;
        font-size: 24px;
        border-bottom: 5px solid #38489e;
        position: relative;
        display: inline-block;
        margin-top: 0;
        padding-left: 61px;
        transition: ease-in-out .4s;
        -webkit-transition: ease-in-out .4s;
        -moz-transition: ease-in-out .4s;
        -o-transition: ease-in-out .4s;
        box-shadow: 1px 1px 20px #00000073;
        -webkit-box-shadow: 1px 1px 20px #00000073;
      }
      .formularioContato .btnEnviarinput{
        position: relative;
        margin-top: 20px;
        display: inline-block;
      }
      .formularioContato .btnEnviarinput:before{
        content: '';
        display: block;
        position: absolute;
        top: 19px;
        left: 3.5%;
        width: 22px;
        height: 20px;
        background: url(img/seta.png);
        background-size: cover!important;
        background-position: center!important;
        z-index: 2;
        transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
        -webkit-animation: piscaPisca 3s infinite;
        -moz-animation: piscaPisca 3s infinite;
        -o-animation: piscaPisca 3s infinite;
        animation: piscaPisca 3s infinite;
      }
      .formularioContato .btnEnviarinput:after{
        content: '';
        width: 2px;
        background: #38489e;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 53px;
        transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
      }
      .formularioContato .btnEnviarinput:hover:before{
        background: url(img/setahover.png);
        left: 88%;
        -webkit-animation: piscaPisca 3s infinite;
        -moz-animation: piscaPisca 3s infinite;
        -o-animation: piscaPisca 3s infinite;
        animation: piscaPisca 3s infinite;
      }
      .formularioContato .btnEnviarinput:hover:after{
        left: 0;
        background: #4A7AC5;
      }
      .formularioContato .btnEnviarinput:hover input{
        color: #4A7AC5;
        background: #fff;
        padding-left: 10px;
        padding-right: 62px;
        border-bottom: 5px solid #4A7AC5;
        box-shadow: 1px 1px 20px #00000073;
        -webkit-box-shadow: 1px 1px 20px #00000073;
      }
  .containerFull{
    width: 95%;
    max-width: 1200px;
    margin:0 auto;
    padding: 0 10px;
  }
  
  @keyframes piscaPisca {
    0%{
      background: url(img/setahoveranimation.png);
      width: 22px;
      height: 18px;
      background-size: cover!important;
      background-position: center!important
    }
    25%{
      background: url(img/setaanimation.png);
      width: 22px;
      height: 18px;
      background-size: cover!important;
      background-position: center!important
    }
    50%{
      background: url(img/setahoveranimation.png);
      width: 22px;
      height: 18px;
      background-size: cover!important;
      background-position: center!important
    }
    75%{
      background: url(img/setaanimation.png);
      width: 22px;
      height: 18px;
      background-size: cover!important;
      background-position: center!important
    }
    100%{
      background: url(img/setahoveranimation.png);
      width: 22px;
      height: 18px;
      background-size: cover!important;
      background-position: center!important
    }
  }
  .widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background-color: #f1f1f1!important;
    border-color: transparent!important; 
    border: 1px solid #848484!important;
    padding: 10px!important;
  }
  .widget_wysija_cont .allmsgs li {
    font-family: gmedium!important;
    font-size: 16px!important;
    line-height: 22px!important;
    color: #333!important;
  }

/*@MEDIA QUERY*/
  @media(max-width: 1367px){
    .pg-inicial .inicial {
      padding-top: 49px;
    }
    .pg-inicial .inicial .textoInicial p{
      font-size: 21px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 35px;
    }
    .topo {
      padding-top: 15px;
    }
    .formularioContato input {
      padding: 10px 7px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3,.pg-inicial .comoFunciona .vantagesSalesrox h2 {
      font-size: 30px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 20px;
    }
    footer .tituloFormulario h1 {
      font-size: 35px;
    }
    footer .tituloFormulario p {
      font-size: 21px;
    }
  }
  @media(max-width: 1200px){
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 35px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 18px;
    }
    .formularioContato {
      margin-top: 31px;
    }
    .formularioContato input[type="submit"]{
      font-size: 21px;
    }
    footer .copyright p {
      padding-top: 50px;
      font-size: 19px;
    }
    footer .tituloFormulario h1 {
      font-size: 32px;
    }
    footer .tituloFormulario p {
      font-size: 20px;
    }
    .formularioContato .btnEnviarinput:before {
      top: 14px;
      left: 12px;
      width: 28px;
      height: 24px;
    }
  }
  @media(max-width: 1100px){
    .pg-inicial .comoFunciona .tecnologias ul li{
      max-width: 96px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3, .pg-inicial .comoFunciona .vantagesSalesrox h2 {
      font-size: 24px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      font-size: 23px;
      max-width: 145px;
      margin: 20px auto;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 18px;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .inicial{
      background:url('');
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 33px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 16px;
    }
    .formularioContato input {
      padding: 10px 6px;
      font-size: 16px;
    }
    .formularioContato input[type="submit"] {
      font-size: 17px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona {
      padding: 20px 0;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox {
      padding:0;
      border:none;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img {
      max-width: 115px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque {
      min-height: 118px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      max-width: 100%;
      font-size: 23px;
    }
    footer .formularioContato input {
      font-size: 17px;
    }
    footer .tituloFormulario h1 {
      font-size: 30px;
    }
    footer .tituloFormulario p {
      font-size: 18px;
    }
    .formularioContato .btnEnviarinput:before {
      top: 10px;
    }
    .pg-inicial .comoFunciona .bordaVantagens,.pg-inicial .comoFunciona .bordaVantagens.show{
      display: none;
      min-height: 0;
      width: 0;
    }
    .pg-inicial .comoFunciona .tecnologias ul li {
      max-width: 186px;
    }
    .pg-inicial .comoFunciona .tecnologias {
      text-align: center;
    }
    .widget_wysija_cont .allmsgs li {
      font-size: 14px!important;
    }
  }
  @media(max-width: 767px){
    
    .topo .language ul li{
      border:none;
    }
    .topo .language ul li ul {
      background: transparent;
      margin-top: 2px;
    }
    .topo .language ul li ul li {
      margin-top: 0;
    }
    .topo{
      padding: 20px 45px 0px;
      background: #fff;
    }
    .topo a {
      max-width: 149px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 20px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 15px;
    }
    .formularioContato input {
      font-size: 13px;
    }
    .pg-inicial .inicial .textoInicial {
      padding-top: 37px;
    }
    .formularioContato input[type="submit"] {
      font-size: 15px;
    }
    .pg-inicial .inicial .textoInicial p{
      font-size: 16px;
    }
    .formularioContato input {
      display: block;
      margin: 10px 0;
      width: 100%;
      font-size: 14px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 30px;
    }
    .formularioContato input[type="submit"] {
      width: 100%;
      margin-bottom: 0;
    }
    .formularioContato .btnEnviarinput{
      display: block;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 17px;
    }
    .pg-inicial .scrollDown {
      margin: 40px auto 10px;
    }
    footer .tituloFormulario h1 {
      font-size: 23px;
    }
    footer .tituloFormulario p {
      font-size: 15px;
    }
    footer{
      padding: 70px 0 30px;
    }
    .topo.thin{
      padding: 10px 45px 0px;
    }
    footer .copyright p {
      padding-top: 50px;
      font-size: 16px;
    }
    .formularioContato .btnEnviarinput:hover input {
      padding-left: 10px;
      padding-right: 10px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li {
      max-width: 114px;
      margin: 0 20px;
    }
    .topo .language ul li.selected span {
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 14px;
      margin-top: 4px;
    }
    .topo .language ul li.selected span img {
      display: none;
    }
    .topo .language ul li.selected:after{
      top: 0px;
      right: 0px;
    }
    .containerFull {
      width: 100%;
      padding: 0 15px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      font-size: 21px;
    }
    .widget_wysija_cont .allmsgs li {
      font-size: 13px!important;
    }
    .overX{
      overflow-x: hidden;
    }
  }

  @media(max-width: 610px){
    .pg-inicial .comoFunciona .textoComoFunciona p {
     font-size: 16px;
     margin: 30px 0;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3 {
      margin-bottom: 30px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li {
      width: 100%;
    }
    .pg-inicial .comoFunciona .tecnologias ul li:first-child:before,.pg-inicial .comoFunciona .tecnologias ul li:nth-child(2):before {
      content: "+";
      font-size: 40px;
      right: -22px;
      top: 17px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li {
      margin: 0 7px;
    }
    .topo .language ul li.selected:after {
      top: 4px;
      right: 4px;
      font-size: 13px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 26px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 14px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3, .pg-inicial .comoFunciona .vantagesSalesrox h2 {
      font-size: 21px;
    }
    .widget_wysija_cont .allmsgs li {
      font-size: 11px!important;
      line-height: 17px!important;
    }
  }

  @media(max-width: 445px){
    .topo .language ul li{
      font-size: 19px;
      padding: 2px 5px;
    }
    .topo .language ul li span img, .topo .language ul li.selected span img {
      max-width: 29px;
      margin-top: -4px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox h2 {
      font-size: 20px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque {
      min-height: 80px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img {
      max-width: 95px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      font-size: 21px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
     font-size: 15px;
     margin: 20px 0;
    }
    .formularioContato .btnEnviarinput:before, .formularioContato .btnEnviarinput:after{
      display: none;
    }
    .formularioContato .btnEnviarinput input[type="submit"]{
      padding-left: 0;
      text-align: center;
    }
    .pg-inicial .comoFunciona .tecnologias ul li:first-child:before, .pg-inicial .comoFunciona .tecnologias ul li:nth-child(2):before {
      content: "+";
      font-size: 30px;
      right: -17px;
      top: 18px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li {
      max-width: 100px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li img {
      max-width: 75px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li p{
      font-size: 16px;
    }
    .topo .language ul li.selected:after {
      top: 6px;
      right: 4px;
      font-size: 13px;
    }
  }
  @media(max-width: 425px){
    .topo a {
      max-width: 114px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 15px;
    }
    .topo .language ul li.selected:after{
      top: 6px
    }
    .pg-inicial .comoFunciona .tecnologias ul li {
      max-width: 84px;
      margin: 0;
    }
    .pg-inicial .comoFunciona .tecnologias ul li:first-child:before, .pg-inicial .comoFunciona .tecnologias ul li:nth-child(2):before {
      font-size: 25px;
      right: -9px;
      top: 10px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li img {
      max-width: 52px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li p {
      font-size: 13px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 22px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 13px;
    }
  }
  @media(max-width: 320px){
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      font-size: 20px;
    }
    .pg-inicial .comoFunciona .tecnologias ul li{
      display: block;
      margin: 0 auto 20px;
      text-align: center;
    }
    .pg-inicial .comoFunciona .tecnologias ul li:first-child::before, .pg-inicial .comoFunciona .tecnologias ul li:nth-child(2)::before{
      display: none;
    }
    .topo .language ul li.selected:after {
      top: 2px;
    }
  }